{% extends '::base.html.twig' %}

{% block body %}

    <h1>Tree structure list</h1>

    <h3><a href="{{ path('php_tree_index') }}">Main</a></h3>

    <h2><a href="{{ path('php_tree_add') }}">Add new node</a></h2>

    {% for node in nodes if node.parent is null%}
        <div>
            <p class="parent0"><a href="{{ path('php_tree_show', { 'slug': node.slug }) }}">{{ node.title }}</a></p>

            {% for child in node.children if node.children %}
                <p class="parent1" style="margin-left: 50px">
                    <a href="{{ path('php_tree_show', { 'slug': child.slug }) }}"> - {{ child.title }}</a>
                </p>

                {% for c in child.children if child.children %}
                    <p class="parent02" style="margin-left: 100px">
                        <a href="{{ path('php_tree_show', { 'slug': c.slug }) }}"> - {{ c.title }}</a>
                    </p>
                {% endfor %}

            {% endfor %}

        </div>
    {% endfor %}

{% endblock %}
